<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>메이플스토리 요청 세부 정보</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>

</head>
<body>
<h1>메이플스토리 요청 세부 정보</h1>
<table>
    <tr>
        <th>Character</th>
        <th>Class</th>
        <th>Level</th>
        <th>combatPower</th>
    </tr>
    <tr>
        <td><img th:src ="${basic.character_image}">
        </td>
        <td th:text = "${basic.character_class}"></td>
        <td th:text = "${basic.character_level}"></td>
        <td th:text = "${combat}"></td>
    </tr>
</table>
<!--<span th:if = "${}"></span>-->
<!--<span th:text = "${item.item_equipment}"> </span>-->
<form th:action = "@{/simpleLiberate}" method="post">
    <input type="hidden" name="id" th:value="${innerResult.id}" />
    <button type="submit"> 해방 </button>
</form>
</body>
</html>
